*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-position: center;
}

video{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

#logo{
    position: absolute;
    top: 20px;
    left: 50px;
    float: left;
    opacity: 1;
    transition: 0.3s;
    width: 400px;
}

#logo:hover {
    transform: translateX(3px);
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 1.3rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
}

.header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .1);
    backdrop-filter: blur(50px);
    z-index: -1;
}

.header::after{
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent,
    rgba(255, 255, 255, .4), transparent);
    transition: .5s;
}

.header:hover::after{
    left: 100%;
}

.navbar a{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.15rem;
    text-decoration: none;
    font-weight: bold;
    margin-left: 2rem;
    color: #00007F;
}

.navbar{
    flex: 1;
    text-align: right;
}

.navbar a:hover {
    color: whitesmoke;
}

#check {
    display: none;
}

.hamburger{
    position: absolute;
    right: 5%;
    font-size: 2.5rem;
    color: black;
    cursor: pointer;
    display: none;
}

.hamburger #close-icon {
    display: none;
}

@media (max-width: 992px) {
    .header {
        padding: 1.3rem 5%;
    }
}

@media (max-width: 768px) {
    .hamburger {
        display: inline-flex;
    }
    #check:checked~.hamburger #menu-icon {
       display: none; 
    }
    .hamburger #close-icon {
        display: none;
    }
    #check:checked~.hamburger #close-icon {
        display: block; 
    }
    .navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: rgba(0, 0, 0, .1);
        backdrop-filter: blur(50px);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
        overflow: hidden;
        transition: .3s ease;
    }
    #check:checked~.navbar {
        height: auto;
    }
    .navbar a{
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        transform: translateY(-50px);
        opacity: 0;
        transition: .3s ease;
    }
    #check:checked~.navbar a{
        transform: translateY(0);
        opacity: 1;
        transition-delay: calc(.15s * var(--i));
    }
    .dropdown{
        text-align: center;
    }
    .dropbtn{
        display: block;
        margin: 1.5rem 0;
    }
    .dropdown-content{
        text-align: left;
    }
    .logo{
        display: inline-flex;
    }
}

#footer{
    position: fixed;
    text-align: center;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: #00939C;
}

#footer a{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 10px;
    color: #4f4f51;
    margin: 10px;
}

.homepage-container{
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
    z-index: -1;
}

.homepage-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    font-size: 25px;
    text-align: center;
    z-index: 1;
    text-shadow: 2px 2px 10px #00007F;
    display: inline-block;
}

.homepage-text h1, h4{
    white-space: nowrap;
    overflow: hidden;
}

a:hover {
    color: whitesmoke;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    color: #333;
    text-decoration: none;
    margin: 10px;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #005D91;
    color: #fff;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#active {
    color: whitesmoke;
}

.offer {
    position: relative;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    text-align: center;
    font-size: 2rem;
    padding: 20px;
}

.offer-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px 50px;
    padding: 100px 50px;
}

.offer-container .card{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 350px;
    height: 300px;
    background-color: whitesmoke;
    border-radius: 20px;
    box-shadow: 0 35px 80px rgba(0, 0, 0, .15);
    transition: .5s;
}

.offer-container .card:hover{
    height: 400px;
}

.offer-container .card .card-img{
    position: absolute;
    top: 20px;
    width: 300px;
    height: 220px;
    background: #4f4f51;
    border-radius: 12px;
    overflow: hidden;
    transition: .5s;
}

.offer-container .card:hover .card-img {
    top: -100px;
    scale: .75;
    box-shadow: 0 15px 45px rgba(0, 0, 0, .2);
}

.offer-container .card .card-img img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.offer-container .card .card-content{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
    top: 252px;
    width: 100%;
    padding: 0 30px;
    height: 35px;
    overflow: hidden;
    text-align: center;
    transition: .5s;
}

.offer-container .card:hover .card-content{
    height: 250px;
    top: 130px;
}

.offer-container .card .card-content h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    color: #00007F;
}

.offer-container .card .card-content p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #333;
}

.offer-container .card .card-content a{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
    top: 15px;
    display: inline-block;
    padding: 12px 25px;
    background: #005D91;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    border-radius: 8px;
}

input[type=text], select, textarea {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
  
input[type=submit] {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #005D91;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
input[type=submit]:hover {
    background-color: #005D91;
}

.contact-form{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 85%;
    max-width: 600px;
    background: whitesmoke;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px 40px;
    box-sizing: border-box;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
}

.contact-form h1{
    margin-top: 0;
    font-weight: 500;
}

.txtb{
    border: 1px solid gray;
    margin: 8px 0;
    padding: 12px 18px;
    border-radius: 8px;
}

.txtb label{
    display: block;
    text-align: left;
    color: #333;
    text-transform: uppercase;
    font-size: 15px;
}

.txtb input, .txtb textarea {
    width: 100%;
    border: none;
    background: none;
    outline: none;
    font-size: 18px;
    margin-top: 6px;
}

.btn{
    display: inline-block;
    background: #005D91;
    padding: 14px 0;
    color: whitesmoke;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 8px;
    width: 100%;
}